<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contact</title>
</head>
<body>

	<div th:insert="header.html"></div>
	
	<div class="container-fluid">
		<div class="row m-2 p-2">
			<form action="/contact" method="post">
				<div>
					To Email<input type="email" name="toEmail" class="form-control" required>
				</div>
				<div>
					Subject<input type="text" name="subject" class="form-control" required>
				</div>
				<div>
					Message<textarea rows="5" cols="20" name="message" class="form-control" required></textarea><br>
				</div>
				<div>
					<input type="submit" value="Send" class="btn btn-success w-10">
				</div>
			</form>
		</div>
	</div>
</body>
</html>